15.0.6/15.0.6/HiDoctor/HiDoctor/Service References/HDCoreDataService/HDCoreDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51108/HDCoreDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExecuteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientHexCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subdomainName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiID" type="xs:int" />
        <xs:element minOccurs="0" name="hdLogID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputParams" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteServiceResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientHexCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subdomainName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiID" type="xs:int" />
        <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="continousToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputParams" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteServiceDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientHexCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subdomainName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiID" type="xs:int" />
        <xs:element minOccurs="0" name="continousToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputParams" nillable="true" type="q3:ArrayOfanyType" />
        <xs:element minOccurs="0" name="hdLogID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteServiceJSONResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="continToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>